

#first_message{
    margin: 0%;
    padding: 1.2%;
}

/* Mid */


#prsnl_img_hldr{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    top: 20px;
    right: 0;
    grid-template-areas: 'a b';
}
#image_title{
    grid-area: b;
}
#personal_image{
    grid-area: a;
    width: 200px;   
    grid-column: 2;
    margin-right: 50%;
}
h3{
    display: inline;
}

/* responsitivity */
@media (max-width: 1000px) {
    /* #prsnl_img_hldr {
        left: 60%;
    } */
}
@media (max-width: 600px) {
    /* #prsnl_img_hldr {
        position: relative;
        left: 15%;
    } */

    #about_me{
        width: 90%;
    }
}