
body{
    margin: 0;    
    padding: 0;
    height: 100dvh;
}
.keypadDivDisplay{
    position: relative;
    display: flex;
    
    justify-content: center;
}
img{
    height: 30dvh;
    top: 50%;
}

#jvPersonalimg{
    grid-area: bottom;
}

#graduatePic{
    position: absolute;
    top: 0;
    left: 0;
    transition: clip-path 1s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, -25% 100%);
}
#graduatePic:hover{
    clip-path: polygon(125% 0%, 100% 0%, 100% 100%, 100% 100%);
}
#isay{
    position: absolute;
    top: -27dvh;
}
